<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Produits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/addprod">Ajouter</a>
            <a class="dropdown-item" href="#">Supprimer</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/searchByCat">Recherche par catégorie</a>
            <a class="dropdown-item" routerLink="/catList">Liste des catégorie</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/produits">Tout afficher</a>
          </div>
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-center w-50">
        <div class="input-group w-50">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
      <ul class="navbar-nav ms-auto m-2" >
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Test
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Logout</a></li>
            <li><a class="dropdown-item" href="#">Prof----------------ile</a></li>
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--button mat-raised-button (click)="openModal()">Ouvrir la modale</button-->

<router-outlet />
